RewriteEngine On
RewriteBase /

RewriteRule ^tesla/tesla-model-s$ gen_models.php [L]
RewriteRule ^tesla/tesla-model-3$ gen_model3.php [L]
RewriteRule ^tesla/tesla-model-x$ gen_modelx.php [L]
RewriteRule ^tesla/tesla-model-y$ gen_modely.php [L]
RewriteRule ^tesla/szolgaltatasaink$ gen_services.php [L]
RewriteRule ^tesla/rolunk$ gen_aboutus.php [L]
RewriteRule ^tesla/markatortenet$ gen_brand.php [L]
RewriteRule ^tesla-gyik$ gen_faq.php [L]
RewriteRule ^tesla/hirek$ gen_news.php [L]
RewriteRule ^uzenet$ gen_form-message.php [L]
RewriteRule ^adatkezelesi-tajekoztato$ gen_priv-policy.php [L]
RewriteRule ^tesla/berles$ gen_rent_tesla.php [L]

<FilesMatch ".(flv|swf|ico|gif|jpg|jpeg|png)$">  
Header set Cache-Control "max-age=2592000"  
</FilesMatch> 

<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType text/css "access plus 1 month"
ExpiresByType application/pdf "access plus 1 month"
ExpiresByType text/x-javascript "access plus 1 month"
ExpiresByType application/x-shockwave-flash "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 year"
ExpiresDefault "access plus 2 days"
</IfModule>
