body.brand-page h2 {
	font-weight: bold;
}

.rtecenter {
	text-align: center;
}

.rtecenter img {
	margin: 0 auto;
}

#progress-bar-3d {
	width: 100%;
    height: 1px;
    background: #0acf83;
    color: #0acf83;
    top: 0;
    position: absolute;
    z-index: 10000;
    animation: blinking 1s infinite;
}

.grid .grid .leading-tight {
    line-height: 1;
}


@keyframes blinking{
0%{   color: #0acf83;   }
47%{   color: #0acf83; }
62%{   color: transparent; }
97%{   color:transparent; }
100%{  color: #0acf83;   }
}

.coming-soon {
    position: absolute;
    margin-top: -31vh;
    font-weight: bold;
    font-size: 6vh;
    text-align: center;
    color: #aaa;
    width: 100%;
    max-width: 100%;
}

body.model-s .sequence-image,
body.model-x .sequence-image {
    opacity: 0.1;
}

.desktop-hide {
    display: none;
}

/* Scroll bar appeared before. */
._configurator-tabs ._tab-content {
    overflow: visible;
}

/* Capital accents cutted before. */
._configurator-tabs ._tab-nav {
    padding-top: 1px;
}

body.car-rent-page ._techinfo ._wrapper-inner {
    width: 50%;
}

@media (min-width: 1280px) {

    body.car-rent-page .min-h-48 {
        min-height: 36rem;
    }
}

form .lastname {
    display: none;
}

@media (min-width: 350px) and (max-width: 767px) {
    .desktop-hide {
        display: block;
    }

    body.fooldal ._card-car img {
        margin-left: 7vw;
    }
}