.rangeslider__handle {
    background-color: #0acf83;
    width: 30px;
    height: 30px;
}

.rangeslider__fill {
    background-color: #0acf83;
}

@media (min-width: 350px) and (max-width: 767px) {
    #slide {
        margin-top: -80px;
        opacity: 0;

    }
  
}